 <%= form_with model:  [@test, @question], local: true do |form| %>

        <%= render '/shared/errors', resource: @question %>

        <div class='field-body'>
            <%= form.label :body, 'Содержимое вопроса'%>
            <%= form.text_area :body%>
        </div>

        <%= form.submit 'Сохранить'%>
    <%end%>
