<%= form_with url: sessions_path, local: true do | form |  %>

        <%= flash_message %>
    <p>
        <%= form.label :email %>
        <%= form.text_field :email, id: :user_email %><br>
    </p>

    <p>
        <%= form.label :password %>
        <%= form.password_field :password, id: :user_password %><br>
    </p>

    <p><%= form.submit 'Enter' %> </p>

<% end %>
