<%= form_with model: [:admin, @badge], local: true do |form| %>

    <%= render '/shared/errors', resource: @badge %>

    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name%>
    </p><br>

    <p>
        <%= form.label :file_name %><br>
        <%= form.text_field :file_name%>
    </p><br>
    <p>
        <%= form.label :type_badge %><br>
        <%= form.text_field :type_badge %>
    </p><br>

     <p>
        <%= form.label :rule %><br>
        <%= form.select :rule, options_for_select(rules.map {|k,v| [v,k]}), prompt: true%>
    </p><br>

    <%= form.submit%>
<%end%>
