<h1><%= t('.header') %></h1>
<table>
    <tr>
        <th><%= t('.question') %></th>
        <th><%= t('.user') %></th>
        <th><%= t('.link') %></th>

    </tr>

    <%= render @gists %>

</table>
