<nav class='navbar navbar-lght bg-light'>
    <span class="fs-2 mb-3">
        <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
        <% if current_user.admin? %>
            <%= link_to admin_tests_path do %>
                <i class="bi bi-tools"></i>
            <% end %>

            <%= link_to  admin_gists_path do %>
                <i class="bi bi-github"></i>
            <% end %>
            <%= link_to  admin_badges_path do %>
                <i class="bi bi-award"></i>
            <% end %>
        <% end %>
        <% unless current_user.admin? %>
           <%= link_to  admin_badges_path do %>
                <i class="bi bi-award"></i>
            <% end %>
        <% end %>

    </span>

    <span class='navbar-text'>
        <% if user_signed_in? %>
            Welcome,<b><%= current_user.full_name %></b> Guru |
             <%= current_user.email %>
            <%= link_to 'Logout', destroy_user_session_path, method: "delete" %>
        <% else %>
            <%= link_to 'Log in', new_session_path(resource_name) %> |
            <%= link_to 'Sign in', new_registration_path(resource_name) %>
        <% end %>
    </span>
</nav>
