<tr>
    <td><%= test.title%></td>
    <td><%= test_level(test)%></td>
    <td>
        <%= link_to "Смотреть", test_path(test) %>
    </td>
    <td>
        <%= link_to "Редактировать", edit_test_path(test) %>
    </td>

    <td>
        <%= link_to "Удалить",
        test_path(test),
        method: :delete,
        data: {confirm: 'Вы уверены?'}
        %>
    </td>
    <td>
        <%= button_to 'Старт', start_test_path(test) %>
    </td>
<td><%= test.questions.size%></td>
</tr>
